.custom-control-label{
  &::before{
    top: 0.2rem;
    left: -1.1rem;
    width: 12px;
    height: 12px;
    border:1px solid $gray-500;
  }
  &::after{
    top: 0.3rem;
    left: -1rem;
    width: 8px;
    height: 8px;
    background: none;
  }
  &:hover{
    cursor: pointer;
  }
}

.custom-select{
  background-color: $white;
  &:focus{
    box-shadow: none;
  }
}
.form-control {
  &--nepali-datepicker {
    &[readonly] {
      background: #fff !important;
    }
  }
}
.form{
  &-group{
    width: 100%;
    label{
      font-weight: 700;
    }
  }
 &--upload {
   display: flex;
   align-items: center;

   .form-control {
     margin-right: .5rem;

     &[readonly] {
       background: #fff;
     }
   }
 }

  &--text{
    color: $secondary;
    font-weight: 400;
    @include rfs(map-get($font-sizes,p));
    
  }
}

.error{
  @include rfs(map-get($font-sizes,small));
  color: $red;
  display: block;
  margin-top: 4px;
  font-style: italic;
  i{
    display: inline-block;
    margin-right: .25rem;
  }
}

.info{
  @include rfs(map-get($font-sizes,small));
  color: map-get($dashboard, activeColor );
  display: block;
  margin-top: 4px;
  font-style: italic;

  i{
    display: inline-block;
    margin-right: .25rem;
  }

}
.files{
  &--upload{
    position: relative;
    border: 1px dashed $gray-500;
    height: 210px;
    // @include media-breakpoint-down(md){
    //   height: 200px;
    // }
    .imagePlaceholder{
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      width: 100%;
      height: 100%;
     
      pointer-events: visible;
      display: none;
      &:before{
        content:'\e948';
        font-family: 'icomoon' !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(0);
        font-size: 32px;
        color: $blue;
        opacity: 0;
        transition: .2s ease-in opacity,.2s ease-in transform;
      }
      img{
        max-width: 100%;
       

      }

      &:hover{
        filter: brightness(.8);
        cursor: pointer;

        
      }
     
    }

    &:hover {
      cursor: pointer;
      .imagePlaceholder{
        &:before{
          transform: translate(-50%,-50%) rotate(360deg);
            opacity: 1;
        }
      }
    }

   
    label{
      height: 100%;
      color: $gray-800;
      @include rfs(map-get($font-sizes,p));
      border-radius: 4px;
      margin-bottom: 0;
      // padding:0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      
      span{
      
        color: $info;
      }
    }
    
   }
   &--display{
     width: 100%;
     height: 210px;
     position: relative;
     overflow: hidden;
     .placeholder{
       display: block;
       width: 100%;
       height: 100%;
       background-color:#cccccc ;
       display: flex;
       align-items: center;
       justify-content: center;
     }
     img{
       width: 100%;
       height: 100%;
       object-fit: cover;
     }

     input[type='file']{
       display: none;
     }
     label{
       background-color: $dark;
       color:white;
       display: block;
       position: absolute;
       width: 100%;
       padding:.5rem 1rem;
       bottom: 0;
       margin:0;
       transform: translateY(60px);
       transition: all .2s;
       &:hover{
         cursor: pointer;
       }
     }
     &:hover{
       label{
         transform: translateY(0);
       }
     }
   }
  
}
.upload{
  &--image{

    // margin: 1rem;
    &:hover{
      .upload--text{
        display: block;
      }
    }
  }
  &--text{
    color: $white;
    @include small;
    background-color: rgba($gray-700,0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .5rem 0;
    width: 100%;
    display: none;
    cursor: pointer;
  }
}
.img{
  &-text{
    padding: 0 1rem;
  }
}



.link{
  &--action{
    display: flex;
    align-items: center;
    @include rfs(map-get($font-sizes,p));
    font-weight: 600;
    span{
      margin-right: .5rem;
    }

    &:hover{
      cursor: pointer;
    }
  }
}


.custom--collapse{
  position: absolute;
    z-index: 1;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    margin: 0;
    padding: 0;
    list-style: none;
    width: 98px;
    border-radius: 4px;
    li{
      padding:.25rem .75rem;
      a{
        font-weight: 600;
        color: #B3B3B3;
      }
      &.active{
        background-color:#F8F8FB;
        a{
          color: #3A36A0;
        }
      }
    }
}


.documents{
  list-style-type: none;
  padding: 0;
  margin: 0;

  li{
    display: flex;
    align-items: flex-start;
    &:not(:last-child){
      margin-bottom: .5rem;
    }

    .icon{
      font-size: 24px;
      color: $input-info-color;
      margin-right: .5rem;
    }

    .text{
      h6{
        font-weight: 600;
        color: $yellow;
        line-height: 9px;
      }
      small{
        color: $grey-900;
      }
    }
  }
}



.custom{

  &--checkbox{

    label{
      
      cursor: pointer;
      display: flex;
      align-items: center;
      @include respond(map-get($font-sizes,p));
      color: $gray-100;
      font-weight: 400;
      &:before{
        content: '';
        width:10px;
        height: 10px;
        border-radius: 2px;
        border:1px solid $secondary;
        background-color: transparent;
        display: block;
        flex-shrink: 0;
        margin-right: 1rem;
      }
    }
    
    input{
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;

      &:checked + label:before{
        background-color: $info;
        border:1px solid $info;
      }
    }

    
  }
}


.tags{
  &--item{
    background-color: $grey-900;
    color: white!important;
    @include rfs(map-get($font-sizes,p));
    padding:.5rem .75rem;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 1rem;
    display: inline-block;
    margin-right: 1rem;

    i{
      display: inline-block;
      margin-left: .25rem;
      font-size: 10px;
    }
  }
}



