.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ic-error:before {
  content: "\e923";
}

.p-menubar .p-menuitem-text {
  color : white !important;
}

.p-menubar .p-menuitem-link:hover{
  background-color: rgb(168, 173, 171) !important;
}



.background{
  background: #e6e6ea no-repeat center center fixed;
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.error{
  color: red;
  display: block;
  margin-top: 4px;
  font-style: italic;
  font-size: small;
}

.error i{
  display: inline-block;
  margin-right: .25rem;
}

.social-icons a {
    padding: 0.2rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
